/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.navbar-left .navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.navbar-right a, .navbar-right button {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-right button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e74c3c;
}

.navbar-right button:hover {
  background-color: #c0392b;
}

.navbar-right a:hover {
  text-decoration: underline;
}
