/* SignUp.css */
.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }

  #login-link {
    text-align: center;
    margin-top: 20px;
    color: red;
    display: flex;
    justify-content: center;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-container label {
    font-size: 1rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
  }
  
  .signup-container .signup-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  
  .signup-container .signup-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }
  
  .signup-container .signup-input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  .signup-container button.signup-button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }
  
  .signup-container button.signup-button:hover {
    background-color: #0056b3;
  }
  
  .signup-container p {
    color: red;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 15px;
  }
  